<div class="container py-4">

  <h3 class="mb-4">Nueva Venta</h3>

  <form [formGroup]="ventaForm">

    <div class="card shadow-sm">
      <div class="card-body">

        <div class="row g-3">

          <!-- CLIENTE -->
          <div class="col-md-4">
            <label class="form-label">Cliente</label>
            <select class="form-select" formControlName="clienteId">
              <option [ngValue]="null">Seleccionar cliente</option>
              <option
                *ngFor="let c of clientes"
                [ngValue]="c.clienteId">
                {{ c.nombre }} {{ c.apellido }}
              </option>
            </select>
          </div>

          <!-- AUTO -->
          <div class="col-md-4">
            <label class="form-label">Auto</label>
            <select class="form-select" formControlName="autoId">
              <option [ngValue]="null">Seleccionar auto</option>
              <option
                *ngFor="let a of autos"
                [ngValue]="a.id">
                {{ a.marca }} {{ a.modelo }} {{ a.anio }} - ${{ a.precio }}
              </option>
            </select>
          </div>

          <!-- VENDEDOR -->
          <div class="col-md-4">
            <label class="form-label">Vendedor</label>
            <select class="form-select" formControlName="vendedorId">
              <option [ngValue]="null">Seleccionar vendedor</option>
              <option
                *ngFor="let v of vendedores"
                [ngValue]="v.vendedorId">
                {{ v.nombre }} {{ v.apellido }}
              </option>
            </select>
          </div>

        </div>

        <hr class="my-4">

        <!-- DATOS DE LA VENTA -->
        <div class="row g-3">

          <div class="col-md-6">
            <label class="form-label">Método de pago</label>

            <select class="form-select" formControlName="metodoPago">
              <option value="efectivo">Efectivo</option>
              <option value="transferencia">Transferencia</option>
              <option value="tarjeta">Tarjeta</option>
              <option value="financiado">Financiado</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label">Cuotas</label>
            <input
              type="number"
              class="form-control"
              formControlName="cuotas">
          </div>

          <div class="col-md-3">
            <label class="form-label">Descuento (%)</label>
            <input
              type="number"
              class="form-control"
              formControlName="descuento"
              >
          </div>

          <div class="col-12">
            <label class="form-label">Observaciones</label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="observaciones">
            </textarea>
          </div>

        </div>

        <hr class="my-4">

        <!-- RESUMEN -->
        <div>

          <h5 class="mb-3">Resumen de la venta</h5>

          <!-- Cliente -->
          <p class="mb-1">
            <strong>Cliente:</strong>
            {{ clienteSeleccionado?.nombre }}
            {{ clienteSeleccionado?.apellido || '-' }}
          </p>


          <!-- Auto -->
          <p class="mb-1">
            <strong>Auto:</strong>
            {{ autoSeleccionado?.marca }}
            {{ autoSeleccionado?.modelo || '-' }}
          </p>

          <!-- Precio -->
          <p class="mb-1">
            <strong>Precio:</strong>

            <!-- Se usa cuando querés aplicar un *ngIf, *ngFor, etc., sin agregar un <div> innecesario. -->
            <ng-container *ngIf="tieneDescuento; else sinDescuento"> 

                <span class="text-decoration-line-through text-secondary me-2">
                ${{ autoSeleccionado?.precio }}
                </span>

                <span class="text-success fw-bold">
                ${{ precioFinal }}
                </span>

            </ng-container>

            <!-- ng-template guarda un bloque de HTML, pero NO lo renderiza automáticamente.
                En este caso se renderizo como else del anterior container 
            -->
            <ng-template #sinDescuento>

                <span class="fw-semibold">
                ${{ autoSeleccionado?.precio || 0 }}
                </span>

            </ng-template>
        </p>



          <p class="mb-1">
            <strong>Vendedor:</strong>
            {{ vendedorSeleccionado?.nombre }}
            {{ vendedorSeleccionado?.apellido || '-' }}
          </p>


        </div>

        <hr>

        <button
          type="button"
          class="btn btn-success w-100"
          data-bs-toggle="modal"
          data-bs-target="#modalConfirmarVenta"
          [disabled]="ventaForm.invalid"
          >

          Confirmar venta

        </button>

      </div>
    </div>

  </form>

  <!-- MODAL CONFIRMAR -->
  <div
    class="modal fade"
    id="modalConfirmarVenta"
    tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">
            Confirmar venta
          </h5>

          <button
            class="btn-close"
            data-bs-dismiss="modal">
          </button>
        </div>

        <div class="modal-body">

          ¿Está seguro de registrar esta venta?

        </div>

        <div class="modal-footer">

          <button
            class="btn btn-secondary"
            data-bs-dismiss="modal">

            Cancelar

          </button>

          <button
            class="btn btn-success"
            data-bs-dismiss="modal"
            (click)="confirmarVenta()">

            Confirmar

          </button>

        </div>

      </div>
    </div>
  </div>

  <!-- COMPROBANTE
  <div
    *ngIf="ventaCreada"
    class="card shadow-sm mt-4">

    <div class="card-header">
      <h5 class="mb-0">Comprobante de Venta</h5>
    </div>

    <div class="card-body">

      <p>
        <strong>N° Venta:</strong>
        {{ ventaCreada.ventaId }}
      </p>

      <p>
        <strong>Cliente:</strong>
        {{ clienteSeleccionado?.nombre }}
        {{ clienteSeleccionado?.apellido }}
      </p>

      <p>
        <strong>Auto:</strong>
        {{ autoSeleccionado?.marca }}
        {{ autoSeleccionado?.modelo }}
      </p>

      <p>
        <strong>Vendedor:</strong>
        {{ vendedorSeleccionado?.nombre }}
        {{ vendedorSeleccionado?.apellido }}
      </p>

      <p>
        <strong>Método de pago:</strong>
        {{ ventaCreada.metodoPago }}
      </p>

      <p *ngIf="ventaCreada.cuotas">
        <strong>Cuotas:</strong>
        {{ ventaCreada.cuotas }}
      </p>

      <p *ngIf="ventaCreada.descuento">
        <strong>Descuento:</strong>
        ${{ ventaCreada.descuento }}
      </p>

      <p>
        <strong>Precio Final:</strong>
        ${{ ventaCreada.precioFinal || autoSeleccionado?.precio }}
      </p>

      <p *ngIf="ventaCreada.observaciones">
        <strong>Observaciones:</strong>
        {{ ventaCreada.observaciones }}
      </p>

    </div>

  </div> -->

</div>